---
title: James Stackhouse - Designer
---

<div class="content">
  <header class="header">
  	<%= image_tag 'stabbed-pooter.png', :alt=>'STABBY STAB STAB' %>
  	<h1>James Stackhouse</h1>
  	<p>Designer / currently making a better website&hellip;</p>
  	<div class="contact">
  		<%= link_to 'Twitter', 'http://www.twitter.com/stackhousehouse' %>
  		<%= link_to 'Dribbble', 'http://www.dribbble.com/stackhousehouse' %>
  		<%= link_to 'Email', 'mailto:stack@jamesstackhouse.com' %>
  	</div>
  </header>
  <section class="selected-work">
	<h2>Selected work:</h2>
		<article>
			<%= image_tag 'macropod-anim.gif', :alt=>'Macropod' %>
		  	<h1>Macropod</h1>
		  	<p class="subhead">Brand development &plus; product design</p>
		  	<p>I spent a year as a designer at 
		  	<%= link_to 'Macropod', 'http://www.macropod.com' %>
		  	. When I joined the company it was known as 
		  	<%= link_to 'Bugherd', 'http://www.bugherd.com' %>, as was their popular bug-reporting product. We were working  to create a suite of productivity products aimed at designers and developers. So, the company name had to change and we became Macropod. I developed the new identity and implemented it across channels.</p>
		  	<p>I also worked intensively on Stack, a kanban-style project management product with integrations that would apeal to develpoers.</p>
		  	<p><strong>Note:</strong> Macropod has closed down Stack and rolled some of its features into Bugherd. The Macropod identity has been updated since, and is now featuring some really great illustration!</p>
		  	<ul class="info">
			  	<li><strong>Year:</strong> 2014-2015</li>
			  	<li><strong>My Role:</strong> Product design. Identity design.</li>
		  	</ul>
		  	<p class="link">
		  		<%= link_to 'View archived project', 'http://web.archive.org/web/20150421102529/https://macropod.com/stack/' %>
		  	</p>
		</article>
		<article>
			<%= image_tag 'academy.jpg', :alt=>'BBC Academy' %>
		  	<h1>BBC Academy</h1>
		  	<p class="subhead">Responsive website</p>
		  	<p>The Academy website was one of the BBC’s first fully responsive releases. The project was commissioned to bring the Colleges of Journalism, Technology, and Production together into one site.</p>
		  	<p>The project came with many challenges for our small team. The sheer volume of content, breadth of subject matter, variety of content types, and supported languages made for some good honest hard work. The result of which was a decent website, that has stood up well a few years on.</p>
		  	<ul class="info">
			  	<li><strong>Year:</strong> 2013</li>
			  	<li><strong>Agency:</strong> Picture-ltd</li>
			  	<li><strong>My Role:</strong> Process &amp; design lead. Front-end.</li>
		  	</ul>
		  	<p class="link">
		  		<%= link_to 'View project', 'http://bbc.co.uk/academy' %>
		  	</p>
		</article>
		<article>
			<%= image_tag 'gel.png', :alt=>'BBC GEL' %>
		  	<h1>BBC Global Experience Language</h1>
		  	<p class="subhead">Design guidelines website</p>
		  	<p>I worked on the front-end for the two most recent generations of BBC's GEL (Global Experience Language) guidelines.</p>
		  	<p>Later, I provided consultation and attended BBC workshops on the future of the GEL project, covering issues of information architecture, content strategy, and responsive design.</p>
		  	<ul class="info">
			  	<li><strong>Year:</strong> 2012-2013</li>
			  	<li><strong>Agency:</strong> Picture-ltd</li>
			  	<li><strong>My Role:</strong> Front-end. Consultation.</li>
		  	</ul>
		  	<p class="link">
		  		<%= link_to 'View project', 'http://bbc.co.uk/gel' %>
		  	</p>
		</article>
		<article>
			<%= image_tag 'fahan.jpg', :alt=>'Fahan School' %>
		  	<h1>Fahan School</h1>
		  	<p class="subhead">Responsive redesign</p>
		  	Way back in 2010, my good friend  
		  	<%= link_to 'Adam Hill', 'http://www.adamhill.id.au/' %>
		  	and I were asked to give the Fahan School's
		  	<%= link_to 'website', 'http://www.fahan.tas.edu.au/' %>
		  	a refresh.
		  	This year we've been working on a new responsive version.
		  	<p class="link">
		  		Launching December 2015!
		  	</p>
		</article>
		<article>
			<%= image_tag 'awm.gif', :alt=>'Australian War Memorial London' %>
		  	<h1>Australian War Memorial London</h1>
		  	<p class="subhead">Website and information kiosk</p>
		  	<p>This is an old project, but still one of my favourites from the good ol' days of Flash.</p>
		  	<p>The project was designed to interpret the physical 
		  	<%= link_to 'War Memorial:', 'https://en.wikipedia.org/wiki/Australian_War_Memorial,_London' %>
		  	a granite wall engraved with every town and city from where Australian servicemen came. The depth of the engraving varied over the wall so when standing back a distance, the names of major battles were visible.</p>
		  	<p>I designed an interactive 3d globe marked with the locations of these battles. Selecting the locations on either the map or a schematic of the wall would zoom to a more detailed map displaying images, video and stories from the battles.</p>
		  	<p>Users were also able to search for the location of towns on the physical wall.</p>
		  	<ul class="info">
			  	<li><strong>Year:</strong> 2009-2010</li>
			  	<li><strong>Agency:</strong> Jaffa</li>
			  	<li><strong>My Role:</strong> Conceptualisation. Art direction. UI/UX design. AS3 &amp; Papervsion 3d coding.</li>
		  	</ul>
		  	<p class="link">
		  		<%= link_to 'Get in touch to view project', 'mailto:stack@jamesstackhouse.com' %>
		  	</p>
		</article>
	</section>
	<section class="other-work">
		<article>
		  	<h2>Of note:</h2>
		  	<ul>
		  		<li>
		  			<span class="date">2015</span>
		  			<span class="client">7eleven</span>
		  			<h3 class="project">7eleven Mangagement tool prototypes</h3>
		  			<p class="description">Design and development of prototypes for internal management tools.</p>
		  		</li>
		  		<li>
		  			<span class="date">2013</span>
		  			<span class="client">BBC Knowledge &amp; Learnng</span>
		  			<h3 class="project">iWonder prototypes</h3>
		  			<p class="description">Development of prototypes that eventually became the BBC's iWonder platform.</p>
		  		</li>
		  		<li>
		  			<span class="date">2013</span>
		  			<span class="client">BBC News</span>
		  			<h3 class="project">Responsive prototypes</h3>
		  			<p class="description">Developed responsive prototypes exploring issues around navigation, settings for localised news, and langauge switching.</p>
		  		</li>
		  		<li>
		  			<span class="date">2012</span>
		  			<span class="client">BBC UX &amp; Design</span>
		  			<h3 class="project">Global navigation prototypes</h3>
		  			<p class="description">Developed prototypes exploring extended navigation and personalisation across all of the BBC's propterties, including interactive TV.</p>
		  		</li>
		  		<li>
		  			<span class="date">2012</span>
		  			<span class="client">BBC Radio &amp; British Library</span>
		  			<h3 class="project">The listening project</h3>
		  			<p class="description">Design and front-end for archive of lovely conversations of everyday British people.</p>
		  		</li>
		  		<li>
		  			<span class="date">2012</span>
		  			<span class="client">BBC &amp; British Museum</span>
		  			<h3 class="project">Shakespear's restless world website</h3>
		  			<p class="description">Design and front-end of site exploring the world of Shakespear through objects from the British Museum.</p>
		  		</li>
		  		<li>
		  			<span class="date">2011-2012</span>
		  			<span class="client">Google</span>
		  			<h3 class="project">Android &amp; Chromebook brand guidelines</h3>
		  			<p class="description">Produced brand guideline resources for Google partners.</p>
		  		</li>
		  		<li>
		  			<span class="date">2011-2012</span>
		  			<span class="client">BBC Music</span>
		  			<h3 class="project">Major music festival websites</h3>
		  			<p class="description">Modular design system and front-end for major music festivals in the UK including Glastonbury, and Reading and Leeds.</p>
		  		</li>
		  	</ul>
		</article>
	</section>
  <footer>
  	<small>&copy; James Stackhouse 2015</small>
  </footer>
</div>